.wp2sv-app-passwords {
  width: 100%;
}
.wp2sv-app-passwords .wp2sv-container {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  text-align: left;
  padding: 30px;
}
.wp2sv-app-passwords table {
  width: 100%;
  border-collapse: collapse;
}
.wp2sv-app-passwords table .row {
  border-bottom: 1px solid #e5e5e5;
}
.wp2sv-app-passwords table td {
  padding: 12px 0;
}
.wp2sv-app-passwords table .col-name {
  width: 30%;
  padding-left: 4px;
}
.wp2sv-app-passwords table .col-created {
  width: 25%;
  padding-left: 20px;
}
.wp2sv-app-passwords table .col-last-used {
  width: 25%;
  padding-left: 20px;
}
.wp2sv-app-passwords table .col-access {
  width: 20%;
  padding-left: 20px;
}
.wp2sv-app-passwords .revoke-btn {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  cursor: default;
  font-weight: bold;
  height: 28px;
  line-height: 28px;
  margin-right: 16px;
  outline: 0 none;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  background-image: -moz-linear-gradient(center top, transparent, transparent);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #404040;
  font-size: 13px;
  padding: 0 15px;
  text-transform: uppercase;
}
.wp2sv-app-passwords .revoke-btn:hover {
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #b8b8b8;
}
.wp2sv-app-passwords .app-add-password {
  line-height: 42px;
  margin: 20px 0;
}
.wp2sv-app-passwords .app-add-password span {
  margin-right: 16px;
}
.wp2sv-app-passwords .app-add-password .app-name {
  margin: 0;
  min-width: 200px;
  padding-right: 24px;
  width: 50%;
}
.wp2sv-app-passwords .app-add-password .generate {
  border-radius: 3px;
  cursor: default;
  font-weight: bold;
  margin-right: 16px;
  text-transform: uppercase;
  background: #427fed none repeat scroll 0 0;
  opacity: 0.5;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  padding: 0 15px;
  border: 1px solid transparent;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #fff;
  min-width: 34px;
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  outline: 0 none;
}
.wp2sv-app-passwords .app-add-password .generate.enabled {
  opacity: 1;
  cursor: pointer;
}
#app-password-created .wp2sv-h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
#app-password-created .apc-title {
  font-weight: bold;
  margin-bottom: 16px;
}
#app-password-created .apc-pass {
  margin: 16px 0 32px;
  background: #ffe166;
  border: 1px dashed rgba(0, 0, 0, 0.12);
  font-family: monospace;
  font-size: 24px;
  padding: 12px;
}
