#wp2sv-backup-codes-modal{
  width:131mm;
  width:fit-content;
  .card-body {
    width: 110mm;
    .btn-new-codes{
      margin: 0.5em;
    }
  }
}
.backup-codes{
  border: dashed 1px #ccc;
  padding: 16px 0;
  .backup-info{
    text-align: center;
    font-size: 14px;

    img{
      border: none;
      width: 48px;
      height: auto;
    }
  }
  .backup-note{
    margin: auto;
    font-size: 14px;
    width: 50%;
    width: fit-content;
    max-width: 400px;
    list-style: square;
  }
  .backup-codes-list{
    span.cb{
      border: 1px solid;
      display: inline-block;
      height: 14px;
      margin-right: 2px;
      width: 14px;
    }
    tr{
      td:first-child{
        padding-right: 40px;
      }
    }
    margin:auto;
    display: inline-block;
    font-size:15pt;
  }
}