.sync-link {
  background: url("../../images/setup/sync-time.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
  display: inline-block;
  height: 20px;
  left: 5px;
  padding: 5px !important;
  position: relative;
  text-indent: -9999px;
  top: 5px;
  width: 20px;
  cursor: pointer;
}
.sync-link.loading {
  background: url("../../images/setup/sync-time.gif") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
}
.wp2sv-icon {
  background: no-repeat url("../../images/setup/all.png");
  background-size: 277px 197px;
  width: 36px;
  height: 36px;
}
.wp2sv-icon.wp2svi-ga {
  background-position: -24px 0;
}
.wp2sv-icon.wp2svi-additional-layer {
  background-position: -1px -37px;
}
.wp2sv-icon.wp2svi-hacker {
  background-position: -1px -117px;
}
.wp2sv-icon.wp2svi-airplane {
  background-position: -96px 0;
}
.wp2sv-icon.wp2svi-message {
  background-position: -60px 0;
}
.wp2sv-icon.wp2svi-app-passwords {
  background-position: -246px 0;
}
.wp2sv-icon.wp2svi-usb {
  background-position: -208px 0;
}
.wp2sv-icon.wp2svi-devices {
  background-position: -135px 0;
}
.wp2sv-modal .card-body {
  font-size: 15px;
}
.wp2sv-container {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
  min-width: 300px;
}
.wp2sv-qrcode {
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 20px;
}
.wp2sv-start .wp2sv-logo {
  background-image: url(https://ps.w.org/wordpress-2-step-verification/assets/icon-128x128.png?rev=1391369);
  background-size: cover;
  width: 48px;
  height: 48px;
  margin: auto;
}
.wp2sv-start .wp2sv-icon {
  width: 105px;
  height: 79px;
  margin-right: 45px;
}
