.wp2sv-modal {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: auto;
  background: none repeat scroll 0 0 padding-box #fff;
  border: 1px solid rgba(0, 0, 0, 0.333);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  outline: 0 none;
  color: #000;
  display: none;
  transition: all .3s ease;
}
.wp2sv-modal .wp2sv-modal-content {
  padding: 20px 30px 10px 30px;
  overflow-y: auto;
  min-height: 25%;
  min-height: 25vh;
  max-height: 80%;
  max-height: 80vh;
}
.wp2sv-modal .wp2sv-modal-close .wp2sv-modal-close-icon {
  cursor: pointer;
  height: 11px;
  opacity: 0.7;
  padding: 17px;
  position: absolute;
  right: 3px;
  top: 0;
  width: 11px;
}
.wp2sv-modal .wp2sv-modal-close .wp2sv-modal-close-icon:after {
  background: url(../../images/setup/close-x.png) repeat scroll 0 0 transparent;
  content: "";
  height: 11px;
  position: absolute;
  right: 17px;
  width: 11px;
}
.wp2sv-modal-wrap {
  webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: table-cell;
  vertical-align: middle;
}
.wp2sv-modal-mask {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9991;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity .3s ease;
}
.wp2sv-modal-mask .wp2sv-modal {
  display: block;
}
.wp2sv-confirm-modal {
  max-width: 24em;
}
.wp2sv-confirm-modal .wp2sv-modal-close-icon {
  display: none;
}
