.wp_phongthuy_popup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
}

.wp_phongthuy_popup * {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.wp_phongthuy_popup .color_green {
	color: #14974a;
}

.wp_phongthuy_popup h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #14974a;
}

.wp_phongthuy_popup ul {
	margin-left: 20px;
}

.wp_phongthuy_popup table {
	max-width: 460px;
	margin: 0 auto;
}

.wp_phongthuy_popup table tr td {
	padding: 0 4px;
}

.wp_phongthuy_popup img {
	display: inline-block;
	max-width: 460px;
	width: 100%;
}

.wp_phongthuy_popup > p:last-child {
	margin-bottom: 0;
}

.wp_phongthuy_popup .boldLabel {
	font-weight: 700;
}

/* form */
.wp_phongthuy_form {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	position: relative;
	width: 100%;
	border-radius: 3px;

	padding: 10px;
	margin: 0px;
	font-size: 14px;
}

.wp_phongthuy_form * {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.wp_phongthuy_form:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	background-image: url('../images/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.wp_phongthuy_form.loading:before {
	opacity: .7;
	visibility: visible;
}

.wp_phongthuy_form .form-title {
	border-bottom: 1px solid #aaa;
	padding: 0px;
	font-size: 17px;
	font-weight: 700;
	color: #121212;
	text-align: left;
	margin-bottom: 20px;
}

.wp_phongthuy_form .form-title span {
	padding: 5px 0px;
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
}

.wp_phongthuy_form .form-title span:after {
	content: '';
	width: 100%;
	height: 4px;
	background-color: #14974a;
	position: absolute;
	left: 0;
	bottom: -2px;
}

.wp_phongthuy_form .form-line {
	display: block;
	margin-bottom: 20px;
}

.wp_phongthuy_form .form-line:last-child {
	margin-bottom: 0;
}

.wp_phongthuy_form .form-line .label {
	display: block;
}

.wp_phongthuy_form .form-line select {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0px 20px;
	border: 1px solid #aaa;
	border-radius: 3px;
	-webkit-appearance: none;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAABGdBTUEAALGPC/xhBQAAAHBJREFUCB1djjsOgDAMQ5NerXdBYmRADCAmBhgZGBDcpO3N+sFBRAIiNXbsN5SdcwMzj0SUSikJGsU/L6ITfzAWhRD6nPMk/j8AT2ttdYNSAu4Az28Q0A6ohhajBYLFGNPqjXJTSLOP4s+N9379hDgux4UotvsoUK0AAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: calc(100% - 20px) 50%;
	outline: none;
	box-shadow: none;
	font-size: 14px;
}

.wp_phongthuy_form .form-line input[type="submit"], .wp_phongthuy_form .form-line input[type="button"] {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0px 20px;
	background-color: #14974a;
	color: #ffffff;
	border: none;
	outline: none;
	box-shadow: none;
	border-radius: 3px;
	font-weight: 700;
	font-size: 14px;
}

.wp_phongthuy_form .form-line input[type="submit"]:hover, .wp_phongthuy_form .form-line input[type="button"]:hover {
	background-color: #222222;
}

.wp_phongthuy_form .form-line table {
	margin: 0;
	border: none;
}

.wp_phongthuy_form .form-line table tr {
	border: none;
}

.wp_phongthuy_form .form-line table tr td:first-child {
	padding: 0 5px 0 0;
	border: none;
}

.wp_phongthuy_form .form-line table tr td:last-child {
	padding: 0 0 0 5px;
	border: none;
}

