template{
  display: none;
}
.wp-admin{
  .hide-if-wp-admin{
    display: none;
  }
}
.wp2sv{
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .fl{
    float:left;
  }
  .fr{
    float:right;
  }
  @import "grid";
  @import "admin/general";
  @import "admin/modal";
  @import "admin/card";
  @import "admin/float-label";
  @import "admin/toastr";
}
@import "print";